/* Nav Styles */
.nav {
	padding: 2rem 0;
}

.nav__icon, .nav__close, .nav__bgOverlay {
	display: none;
}

.nav__wrapper {
	display: flex;
	justify-content: space-between;
}

.nav__wrapper .logo{
	max-width: 10%;
}

.nav__list li {
	display: inline-block;
	margin: 0 1rem;
}

.nav__list .nav__link {
	font-size: 1.8rem;
	font-family: Poppins;
	color: var(--black-2);
	padding: 0.5rem;
}

.nav__list li:hover .nav__link {
	color: var(--red-1);
}
/* Nav Styles */

/* Booking Section */
form a {
    width: 28%;
    text-align: center;
	cursor: pointer;
}
/* Booking Section */

/* Global Button Styles */
.btn {
	font-size: 1.4rem;
	font-family: Poppins;
	font-weight: 500;
	border-radius: 8px;
	color: var(--red-1);
	padding: 1.2rem 1rem;
}
.primary-btn {
	color: var(--white-1);
	background: var(--red-1);
}
/* Global Button Styles */

/* Store info section styles*/
.storeInfo__wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
.storeInfo__item {
	width: 180px;
	background-color: var(--lightRed-1);
	text-align: center;
	border-radius: 12px;
	padding: 20px 30px;
}
.storeInfo__icon {
	width: 30px;
	font-size: 40px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
.storeInfo__title {
	font-size: 1.4rem;
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 0.5rem;
	color: var(--black-1);
}
.storeInfo__text {
	font-size: 1.4rem;
	font-family: Raleway;
	color: var(--black-2);
}
/* Store info section styles*/

/* Our Special Styles */
.ourSpecials__item__info h4{
    font-size: 1.8rem;
    color: var(--red-1);
	margin-bottom: 1rem;
}
/* Our Special Styles */

/* Dishes Grid */
.dishGrid__title {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--black-1);
	margin-bottom: 2rem;
}
.dishGrid__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	gap: 1rem;
}
.dishGrid__item {
	display: flex;
	flex-direction: column;
	background-color: var(--lightRed-1);
	padding: 0.5rem;
	border-radius: 8px;
	gap: 0.5rem;
}
.dishGrid__item__img {
	flex: 4;
	overflow: hidden;
}
.dishGrid__item__info {
	flex: 4;
}
.dishGrid__item__img img {
	object-fit: cover;
	border-radius: 12px;
}
.dishGrid__item__title {
	font-size: 1.4rem;
	line-height: 1.3em;
	font-weight: 500;
	color: var(--black-1);
	margin-bottom: 0.5rem;
}
.dishGrid__item__price {
	font-size: 1.4rem;
	color: var(--red-1);
	font-weight: 600;
	margin-bottom: 0.5rem;
}
.dishGrid__item__stars {
	width: 10rem;
	max-height: 15px;
}
/* Dishes Grid */

/* Footer Styles */
footer {
	background: var(--lightRed-1);
	padding-top: 5rem;
	padding-bottom: 2rem;
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.footer__logo {
	width: 120px;
	margin-bottom: 2rem;
}

.footer__desc {
	font-size: 1.4rem;
	color: var(--black-2);
	margin-bottom: 2rem;
}

.footer__socials__title {
	font-size: 1.8rem;
	color: var(--black-1);
	margin-bottom: 1rem;
}

.footer__socials li {
	display: inline-block;
	margin-right: 0.5rem;
}

.footer__socials a {
	padding: 0.5rem 0.8rem;
	background-color: var(--white-1);
	border: 1px solid var(--green-2);
	border-radius: 8px;
}

.footer__socials svg {
	width: 20px;
	color: var(--black-2);
}

.footer__text__title {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--black-1);
	margin-bottom: 1rem;
}

.footer__text a {
	font-size: 1.4rem;
	font-family: Raleway;
	font-weight: 500;
	line-height: 1.4em;
	color: var(--black-2);
	margin-bottom: 0.5rem;
}
/* Footer Styles */
