@media only screen and (min-width: 768px) {
/* Nav Section */
	.nav__wrapper .logo {
		max-width: 16%;
	}
/* Nav Section */

	.dishGrid__title {
		font-size: 2.4rem;
	}
	.dishGrid__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		gap: 3rem;
	}
	.dishGrid__item {
		flex-direction: row;
		padding: 1.5rem;
		border-radius: 12px;
		gap: 1rem;
	}
	.dishGrid__item__title {
		font-size: 2.4rem;
	}
	.dishGrid__item__price {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

/* Store info section styles*/
	.storeInfo__wrapper {
		gap: 2rem;
	}
	.storeInfo__item {
		min-width: 200px;
		padding: 40px 0;
	}
	.storeInfo__icon {
		width: 47px;
		margin-bottom: 2.5rem;
	}
	.storeInfo__title {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	.storeInfo__text {
		font-size: 1.6rem;
	}
/* Store info section styles*/

/* Footer Styles */
	footer {
		padding-top: 8rem;
		padding-bottom: 4rem;
	}

	.footer__wrapper {
		flex-direction: row;
	}

	.footer__col1 {
		flex: 4;
	}

	.footer__col2, .footer__col3, .footer__col4 {
		flex: 2;
	}
	
	.footer__desc {
		max-width: 300px;
		font-size: 1.8rem;
		margin-bottom: 2.5rem;
	}

	.footer__socials__title {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	.footer__text__title {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	.footer__text a {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}

	#copyright {
		padding: 1rem 0;
	}

	.copyright__text {
		font-size: 1.34rem;
		text-align: center;
	}
/* Footer Styles */

/* Form Styles */
	#form {
		padding: 5rem 0;
	}

	.form__title {
		font-size: 1.8rem;
		color: var(--black-1);
		font-weight: 600;
	}

	.form__wrapper {
		padding: 3rem 0;
	}

	.form__wrapper form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.form__group label {
		font-size: 1.6rem;
		font-family: Poppins;
		color: var(--black-2);
		font-weight: 500;
	}

	.form__group input, .form__group textarea, .form__group select {
		width: 100%;
		font-size: 1.4rem;
		font-family: Raleway;
		font-weight: 600;
		border: none;
		background-color: var(--lightRed-1);
		border-radius: 8px;
		color: var(--black-2);
		padding: 1.5rem;
		margin-top: 0.5rem;
	}

	.form__group textarea {
		resize: vertical;
	}

	.form__wrapper button[type='submit'] {
		width: 34%;
		font-weight: 500;
		letter-spacing: 0.1rem;
		border: none;
	}
/* Form Styles */
}

@media only screen and (max-width: 768px) {
    /* Nav Section */
	.nav__wrapper .logo {
		max-width: 16%;
	}
	.nav {
		position: relative;
	/* overflow-x: scroll; */
	}
	.nav__icon {
		display: block;
	}
	.nav__icon svg.nav__close svg {
		pointer-events: none;
		height: 30px;
		width: 30px;
	}
	.nav__close {
		display: block;
		position: absolute;
		color: var(--black-1);
		right: 1rem;
		top: 1rem;
		cursor: pointer;
	}
	.nav__list {
		width: 80%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		left: 100%;
		top: 0;
		background: var(--lightRed-1);
		transform: translate(0%);
		overflow: hidden;
		transition: 0.3s ease-in transform;
		z-index: 1000;
		padding-right: 2rem;
	}
	.nav__list.show {
		transform: translate(-100%);
	}
	.nav__list li {
		display: block;
		text-align: right;
		margin-bottom: 2rem;
	}
	.nav__list a {
		font-size: 1.6rem;
	}
	.nav__bgOverlay {
		width: 100%;
		height: 100vh;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1000;
		background: rgba(18, 24, 14, 0.808);
		display: none;
	}
	.nav__bgOverlay.active {
		display: block;
	}
/* Nav Section */

/* Hero Section Styles */
    .hero__imgWrapper {
        margin: 0 auto;
    }
/* Hero Section Styles */

/* Top Dishes */
    .dishGrid__item__info {
        text-align: center;
        margin: 1rem 0 -6rem 0;
    }

    .dishGrid__item__stars {
        margin: 0 auto;
    }

    .dishGrid__wrapper {
        gap: 3rem;
    }
/* Top Dishes */

/* Testimonial Section */
    .testimonial__item__stars {
        width: 40%;
    }
/* Testimonial Section */

/* Our Specials Menu Styles */
    .ourSpecials__item__img {
        margin-bottom: 20px;
    }

    .ourSpecials__menu {
        background-color: var(--lightRed-1);
        border-radius: 12px;
		padding: 2rem;
	}
/* Our Specials Menu Styles */

    /* Footer */
    .copyright__text {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    /* Footer */

	/* Form Styles */
	#form {
		padding: 5rem 0;
	}

	.form__title {
		font-size: 1.8rem;
		color: var(--black-1);
		font-weight: 600;
	}

	.form__wrapper {
		padding: 3rem 0;
	}

	.form__wrapper form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.form__group label {
		font-size: 1.6rem;
		font-family: Poppins;
		color: var(--black-2);
		font-weight: 500;
	}

	.form__group input, .form__group textarea, .form__group select {
		width: 100%;
		font-size: 1.4rem;
		font-family: Raleway;
		font-weight: 600;
		border: none;
		background-color: var(--lightRed-1);
		border-radius: 8px;
		color: var(--black-2);
		padding: 1.5rem;
		margin-top: 0.5rem;
	}

	.form__group textarea {
		resize: vertical;
	}

	.form__wrapper button[type='submit'] {
		width: 34%;
		font-weight: 500;
		letter-spacing: 0.1rem;
		border: none;
	}
/* Form Styles */
}