/* page title styles */
#page__title {
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.page__title__text {
	font-size: 2.2rem;
	color: var(--black-1);
}
/* Our Specials Menu Styles */
.ourSpecials__title {
	font-size: 1.8rem;
	color: var(--black-1);
	margin-bottom: 2rem;
}
.ourSpecials__wrapper {
	display: flex;
	gap: 3rem;
	flex-direction: column;
	max-width: 400px;
}
.ourSpecials__item {
    flex: 1;
}

.ourSpecials__item__img, .ourSpecials__item__info {
	flex: 1;
}

.ourSpecials__menu {
    display: flex;
	gap: 2rem;
	background-color: var(--lightRed-1);
    border-radius: 12px;
    padding: 2rem;
}

.ourSpecials__item__img {
	border-radius: 12px;
	overflow: hidden;
}
.ourSpecials__item__img img {
	object-fit: cover;
}
.ourSpecials__item__title {
	font-size: 2.4rem;
	font-weight: 500;
	margin-bottom: 1rem;
	color: var(--black-1);
	line-height: 1.2em;
}
.ourSpecials__item__price {
	font-size: 1.8rem;
	color: var(--green-1);
	font-weight: 600;
	margin-bottom: 1rem;
}
.ourSpecials__item__stars {
	width: max-content;
}
/* Dish Grid Styles */
#dishGrid {
	padding-bottom: 0;
}
#dishGrid:last-of-type {
	padding-bottom: 10rem;
}
